body {
	background-color: #272727;
	color: rgb(130, 130, 130);
}

.App-header {
	min-height: 100vh;
	padding: 50px;
	text-align: left;
}

.topnav {
	overflow: hidden;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	background-color: #272727;
}

.button {
	background-color: #303030;
	color: rgb(130, 130, 130);
	padding: 10px;
	border-radius: 10px;
	border: none;
	margin: 20px;
	outline: none;
}

.input {
	background-color: #272727;
	color: rgb(130, 130, 130);
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	min-width: 150px;
	border: none;
	margin: 10px;
	outline: none;
}

.input:hover {
	transition: background-color 0.5s;
	background-color: #353535;
}

.input:focus {
	background-color: #353535;
}

.button:hover {
	transition: background-color 0.5s;
	background-color: #5c5c5c;
	cursor: pointer;
}

.box {
	display: flex;
	width: 100%;
	min-height: 300px;
	background-color: #1d1d1d;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

.logo {
	display: flex;
	flex-direction: column;
	word-break: break-word;
	width: 300px;
}